<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Devops Lab PRs status</title>
</head>
<body>

<div class="btn-group" role="group" aria-label="Basic example">
    <a type="button" class="btn btn-primary" href="pull_requests?state=open">open</a>
    <a type="button" class="btn btn-secondary" href="pull_requests?state=closed">closed</a>
</div>

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Link</th>
    </tr>
    </thead>
    <tbody>
    {% if pull_requests %}
    {% for mr in pull_requests %}
    <tr>
        <th scope="row">{{ mr["num"] }}</th>
        <td>{{ mr["title"] }}</td>
        <td><a href="{{ mr["link"] }}">Link</a></td>
    </tr>
    {% endfor %}
    {% endif %}
    </tbody>
</table>